@using FinancialTime.Core.DTOs.FinType
@using FinancialTime.Core.Enums

<div class="modal fade show"
     aria-modal="true" 
     role="dialog"
     @onclick="Close">
    <div class="modal-dialog" @onclick:stopPropagation="true">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add category</h4>
                <button type="button" class="btn btn-outline-danger" @onclick="Close">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" @bind="_typeName">
                    </div>
                    <div class="form-group">
                        <label for="budget" class="col-form-label">Budget:</label>
                        <select class="form-select" id="budget" @bind="_selectedBudget">
                            @foreach (var budget in _budgets!)
                            {
                                <option>@budget</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @onclick="Submit">Add</button>
                <button type="button" class="btn btn-outline-primary" @onclick="Close">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public EventCallback<FinTypeAddDto> OnSubmit { get; set; }

    private IEnumerable<EBudget>? _budgets;
    
    private EBudget _selectedBudget;

    private string _typeName = string.Empty;

    protected override Task OnInitializedAsync()
    {
        _budgets = Enum.GetValues<EBudget>();
        _selectedBudget = _budgets.First();
        
        return base.OnInitializedAsync();
    }

    private async Task Close()
    {
        await OnClose.InvokeAsync(true);
    }

    private async Task Submit()
    {
        var finTypeAddDto = new FinTypeAddDto
        {
            Name = _typeName,
            Budget = _selectedBudget
        };

        await OnSubmit.InvokeAsync(finTypeAddDto);
    }
}