@page "/category"
@using FinancialTime.BlazorServerApp.Interfaces
@using FinancialTime.Core.DTOs.FinType
@inject ICategoryClient Client

<PageTitle>Categories</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-auto">
            <h3>Category</h3>
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary" @onclick="OpenModal">Add</button>
        </div>
    </div>
</div>
    
@if (typeDtos is null)
{
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" 
             role="progressbar" 
             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Income/Expense</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < typeDtos.Count; i++)
        {
            var num = i + 1;
            <tr>
                <td>@num</td>
                <td>@typeDtos[i].Name</td>
                <td>@typeDtos[i].Budget</td>
                <td>
                    <button type="button" class="btn btn-primary">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@if (IsOpenDialog)
{
    <CategoryModal OnClose="OnOpenModalClose"/>
}

@code {
    private List<FinTypeDto>? typeDtos;
    private bool IsOpenDialog;

    protected override async Task OnInitializedAsync()
    {
        typeDtos = new List<FinTypeDto>((await Client.GetAllAsync())!);
    }

    private async Task OpenModal()
    {
        IsOpenDialog = true;
        StateHasChanged();
        await Task.CompletedTask;
    }

    private async Task OnOpenModalClose()
    {
        IsOpenDialog = false;
        StateHasChanged();
        await Task.CompletedTask;
    }
}